.footer-inp{
    width: 369px;
    padding: 11px 117px 10px 14px;
    border-radius: 12px 0px;
background: #FFF;
}
.footer-btn{
    display: inline-flex;
    padding: 11px 14px 10px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0px;
background: #699FC9;
}


@media only screen and (max-width:600px){
.footer-inp{
width: 100%;
}

}